/* Components__/Header */
.main {
  background-image: url("https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-3-Desktop-LHD-v2.jpg");
}
.model3heading {
  font-size: xx-large;
  font-family: sans-serif;
}
.model3subheading {
  font-size: x-large;
  font-family: sans-serif;
}

.btn {
  font-family: sans-serif;
  font-size: large;
}

/* Routes/OrderLayouts */

.Cardetails {
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  margin: 20px;
  margin-right: 15px;

  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.Cardetails:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.modelname {
  font-family: sans-serif;
  font-size: xx-large;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.carfeatures {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.carfeatures h1 {
  font-size: x-large;
  color: #555;
  text-align: center;
  transition: color 0.3s ease;
  font-weight: 600;
}

.carfeatures span {
  display: block;
  font-size: medium;
  color: #888;
  text-decoration: underline;
}

.carfeatures h1:hover {
  color: #007bff;
  cursor: pointer;
}

.aboutcar {
  margin-bottom: 20px;
}

.aboutcar h2 {
  font-size: large;
  color: #666;
  margin-bottom: 10px;
  transition: color 0.3s ease;
}

.aboutcar span:hover {
  color: #007bff;
  cursor: pointer;
}
.aboutcar span {
  text-decoration: underline;
  font-weight: 700;
}

.typesofcar {
  font-weight: normal;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 5px;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

.typesofcar:hover {
  border-color: #bdbdbd;
  background-color: #f0f0f0;
  cursor: pointer;
  .rates {
    color: #007bff;
  }
}

.typesofcar span {
  font-weight: bold;
  color: #333;
}
.feature-btn {
  display: block;
  width: 100%;
  padding: 10px 0;
  font-size: 1em;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}
.feature-btn:hover {
  background-color: #0056b3;
}

.feature-btn1 {
  display: block;
  width: 100%;
  padding: 10px 0;
  font-size: 1em;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}
.feature-btn1:hover {
  background-color: grey;
}

.self-driving {
  font-family: sans-serif;
  font-size: x-large;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.car-color {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.car-color h1 {
  font-size: large;
  color: #555;
  text-align: center;
  transition: color 0.3s ease;
  font-weight: 600;
}

.car-color span {
  display: block;
  font-size: medium;
  color: #888;
  text-decoration: underline;
}
.grey:hover {
  color: black;
  cursor: pointer;
}
.blue:hover {
  color: blue;
  cursor: pointer;
}

.red:hover {
  color: red;
  cursor: pointer;
}

/* Container */
.box {
  width: 100%;
  height: 740px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* Order Now Details */
.order-now {
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  background-color: #ffffff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.order-now:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.self-driving {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.delivery {
  margin-bottom: 20px;
}

.delivery h2 {
  font-size: 1.2em;
  color: #666;
  margin-bottom: 10px;
  transition: color 0.3s ease;
}

.delivery span {
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
}

.delivery span:hover {
  color: #0056b3;
}

.add-btn {
  display: block;
  width: 100%;
  padding: 10px 0;
  font-size: 1em;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
}

.add-btn:hover {
  background-color: red;
}

.white:hover {
  color: pink;
  cursor: pointer;
}
.silver:hover {
  color: black;
  cursor: pointer;
}

.blue:hover {
  color: blue;
  cursor: pointer;
}

/* CyberTruck.Routes */

.CyberRoute {
  background-color: #333;
}

.truckheading {
  display: flex;
  font-size: xxx-large;
  opacity: 0.5;
  font-family: sans-serif;
}
.truckdetails {
  flex-direction: column;
  padding: 20px;
}

.orderbtn2 {
  width: 100%;
  justify-content: space-around;
  font-size: medium;
  opacity: 0.5;
  font-weight: lighter;
  margin-bottom: 20px;
}
.purchasebtn {
  border: 2px solid;
  padding: 12px;
  width: 40%;
}
.problembtn {
  border: 2px solid;
  padding: 12px;
  width: 40%;
}
.purchasebtn:hover {
  background-color: black;
  text-decoration: underline;
}

.problembtn:hover {
  background-color: black;
  text-decoration: underline;
}

/* Truck features container */
.truckfeatures {
  flex-direction: column;
  background-color: black;
  border: 1px solid #ddd;
  border-radius: 0px;
  padding: 20px;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-weight: 700;
}

.truckfeatures h1,
.truckfeatures h3 {
  margin: 10px 0;
}

/* Truck features - first heading */
.truckfeatures h1 {
  font-size: x-large;
  color: #333;
}
.truckfeatures h2 {
  font-size: larger;
  color: #666;
}

/* Truck features - secondary heading */
.truckfeatures h3 {
  font-size: medium;
  color: #666;
}

/* //cybertuckroutes */
.Truckorder-now {
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.add-btn2 {
  display: block;
  width: 100%;
  padding: 10px 0;
  font-size: 1em;
  font-weight: bold;
  color: #fff;
  border: 2px solid;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
}

.add-btn2:hover {
  background-color: black;
  text-decoration: underline;
}
